* {
    padding: 0;
    margin: 0;
}

body {
    color: black;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Marck Script', cursive;
}

button:hover {
    background-color: #dd6f01 !important;
    cursor: pointer;
    color: white;
}

header {
    background-color: #fdc48d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 20px;
}

header img {
    width: 60px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
    border-right: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

header nav ul li a img {
    width: 35px;
}

header nav ul li a:hover {
    background-color: #ae2c30;
    color: white;
}

#header-nav {
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#header-nav span img {
    width: 25px;
    cursor: pointer;
}

#header-nav span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2em;
}

#header-nav span select,
#header-nav span input {
    font-size: 0.8em;
    font-family: inherit;
}

#home {
    display: flex;
    flex-direction: column;
}

#sortBy {
    padding: 5px 10px;
    background-color: #f1cbcc;
    border-radius: 5px;
    border: none;
    font-size: 0.8em;
}

#sortBy:hover {
    background-color: #a87d80 !important;
}

.card {
    border-radius: 5px;
    border: 1px solid gray;
    width: 250px;
    text-align: center;
    height: auto;
}

.card img {
    width: 250px;
}

.card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
    padding-bottom: 10px;
}

.card div p {
    word-wrap: break-word;
    text-align: center;
}

.card div span {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card div span button {
    background-color: #f29840;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card div span button img {
    width: 20px;
    height: 20px;
}

#allRecipes,
#favouriteRecepies {
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#favPage {
    padding: 20px;
    min-height: 79.2vh;
    background-color: rgba(198, 245, 178, 0.815);
    display: flex;
    flex-direction: column;
}

.my-fav-span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.my-fav-span img {
    height: 80px;
}

#myProfile {
    background-color: rgba(211, 177, 177, 0.815);
    margin: auto;
    min-height: 71.3vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

#myProfile h1 {
    text-align: center;
}

#myProfileTable {
    margin: auto;
    width: 15%;
}

#myProfileTable img {
    height: 150px;
}

#myProfileTable td {
    border: 2px solid white;
}

#submit,
#signIn button {
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: 'Marck Script', cursive;
    font-size: 1em;
    background-color: #f29840;
}

#myProfile form {
    margin: auto;
    background-color: rgba(53, 53, 53, 0.397);
    display: flex;
    padding: 50px;
    gap: 20px;
    flex-direction: column;
}

#createRecipe {
    min-height: 84.6vh;
    background-color: rgb(199, 204, 226);
}

#createRecipe span {
    width: 35%;
    margin: auto;
}

#createRecipe form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
}

#createRecipe form label {
    font-size: 1.1em;
}

#createRecipe form button {
    margin-top: 30px;
    padding: 10px;
    background-color: #f29840;
    font-family: 'Marck Script', cursive;
    font-size: 1.5em;
}

footer {
    background-color: #f29840;
    text-align: center;
}

footer h3 {
    padding: 10px 0;
}